{% extends 'base_manage.html' %}
{% block nav_bar %}
    <div class="flex flex-row flex-wrap-reverse items-center justify-start mb-4">
        <a style="color: #FFFFFF;" class="bg-main dark:bg-main-night rounded p-2 flex-none max-w-fit max-h-fit text-sm mr-2"
           href="{% url 'manage_index' %}">Back to Manage</a>
        <h1 class="text-center p-2 text-2xl grow max-w-fit">
            {% block top_title %}
                DEFAULT top_title
            {% endblock top_title %}
        </h1>
    </div>
{% endblock nav_bar %}
