<!DOCTYPE html>
<html>

<head>
    <!-- <link rel="stylesheet" type="text/css" href="style.css"> -->
    <script>
        // Load the constants that are modifiable at runtime
        var teams = ["---", "Team 1", "Team 2"];
        var roles = ["---", "Frosh", "Facil", "Head", "Planning"];
    </script>
    {% load static %}
    <script src="{% static 'bulk_user_add.js' %}"></script>
    <title></title>
</head>

<body>
    <a href="/manage">Back to Manage</a><br />
    <button>Upload CSV</button>
    <button onclick="addUserRow()">Add User</button>
    <table id="new-user-table">
        <tr>
            <th>Name</th>
            <th>Email</th>
            <th>Team</th>
            <th>Role</th>
        </tr>
    </table>
</body>

</html>
