{% extends "base_manage_subpage.html" %}
{% load static %}
{% block page_title %}
    View Facil Shifts
{% endblock page_title %}
{% block top_title %}
    View Facil Shifts
{% endblock top_title %}
{% block active %}
    <style>
        body{
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            overflow-x: scroll;
        }
        table{
            overflow-x: scroll;
            width: 100%;
        }
        td, th{
            width: 80px;
            padding-left: 5px;
            padding-right: 5px;
        }
    </style>
    <div class="flex flex-col space-y-3 mx-auto container text-white text-center max-w-sm">
        <a href="{% url 'shift_export' %}"
             class="bg-main dark:bg-main-night rounded-lg p-2">Export Shifts</a>
        <br>
        <a href="{% url 'shift_edit' id=0 %}"
             class="bg-main dark:bg-main-night rounded-lg p-2">Create Shift</a>
        <br>
        <br>
    </div>
    <div class="text-white p-6 bg-background rounded-lg shadow m-5 inline-block">
    <table>
        <tr>
            <th class="px-2">Name</th>
            <th class="px-2">Description</th>
            <th class="px-2">Start</th>
            <th class="px-2">End</th>
            <th class="px-2">Max Facils</th>
            <th class="px-2">Notes</th>
            <th class="px-2">Facil Count</th>
            {% if perms.common_models.shift_manage %}
            <th class="px-2">Send Email</th>
            <th class="px-2">Copy Checked In</th>
            {% endif %}
            {% if perms.common_models.attendance_manage %}
            <th class="px-2">Check In</th>
            {% endif %}
        </tr>
        {% for shift in shifts %}
            <tr>
                <td class="px-2">
                <a href="{% url 'shift_edit' id=shift.id %}">
                {{ shift.name }}</a></td>
                <td class="px-2">{{ shift.desc }}</td>
                <td class="px-2">{{ shift.start }}</td>
                <td class="px-2">{{ shift.end }}</td>
                <td class="px-2">{{ shift.max_facils }}</td>
                <td class="px-2">{{ shift.flags }}</td>
                <td class="px-2">{{ shift.facil_count }}</td>
                {% if perms.common_models.shift_manage %}
                <td class="px-2">
                    <form method="POST">
                        {% csrf_token %}
                        <input type="hidden" name="shift_id" value="{{ shift.id }}">
                        <input type="hidden" name="action" value="mail">
                        <input type="submit" class="bg-main dark:bg-main-night rounded-lg p-2 m-2" value="Email Shift">
                    </form>
                </td>
                <td class="px-2">
                    <form method="POST">
                        {% csrf_token %}
                        <input type="hidden" name="shift_id" value="{{ shift.id }}">
                        <input type="hidden" name="action" value="copy">
                        <input type="submit" class="bg-main dark:bg-main-night rounded-lg p-2 m-2" value="Copy">
                    </form>
                </td>
                {% endif %}
                {% if perms.common_models.attendance_manage %}
                <td class="px-2">
                <a href="{% url 'shift_checkin' id=shift.id %}"
                    class="bg-main dark:bg-main-night rounded-lg p-2 m-2">Check In</a>
                </td>
                {% endif %}
            </tr>
        {% endfor %}
    </table>
    </div>
{% endblock active %}
