<!DOCTYPE html>
<html>

<head>
    {% load static %}
    <link rel="stylesheet" type="text/css" href="{% static 'engfrosh.css' %}">
    <title>Manage Discord Magic Links</title>
    {% csrf_token %}
    <script>
        const csrf_token = document.querySelector('[name=csrfmiddlewaretoken]').value;
        let user_ids = [
            {% for user in users %}{{user.id}},{% endfor %}
        ]
        user_ids = user_ids.reverse();
    </script>
    <style>
        td.button_cell button {
            background-color: cornflowerblue;
        }
    </style>
    <script src="{% static 'create_discord_magic_links.js' %}"></script>
</head>

<body>
    <a href="/manage">Back to Manage</a>
    <hr/>

    <h3>Add Users to Discord</h3>

    <button type="button" onclick="add10Button()">Invite 10</button>

    <hr/>
    <table>
        <tr>
            <th>Username</th>
            <th>Create Link</th>
            <th>Email Link</th>
        </tr>
        {% for user in users %}
        <tr>
            <td>{{user.username}}</td>
            <td class="user_{{user.id}} create_link button_cell">
                <button onclick="get_magic_link({{user.id}})" type="button">Add</button>
            </td>
            <td class="user_{{user.id}} email_link button_cell">
                <button type="button" onclick="email_magic_link({{user.id}})">Email</button>
            </td>
        </tr>
        {% endfor %}
    </table>
    
</body>

</html>
