{% extends 'base_manage_subpage.html' %}
{% block page_title %}
    Manage Discord Channels
{% endblock page_title %}
{% block js_functions %}
    <script>
    function lockButtonPress() {
        alert("Lock");
    }
    
    function unlockButtonPress() {
        alert("Unlock");
    }
    </script>
{% endblock js_functions %}
{% block top_title %}
    Manage Discord Channels
{% endblock top_title %}
{% block active %}
    <div class="text-white p-6 bg-background rounded-lg shadow m-5 inline-block">
    <table>
        <tr>
            <th>Name</th>
            <th>ID</th>
            <th>Modify</th>
        </tr>
        {% for ch in channels %}
            <tr>
                <td>{{ ch.name }}</td>
                <td>{{ ch.id }}</td>
                <td>
                    <button type="button" onclick="lockButtonPress()">Lock</button>
                </td>
            </tr>
        {% endfor %}
    </table>
    </div>
{% endblock active %}
