{% extends 'base_manage_subpage.html' %}
{% load static %}
{% block page_title %}
    Manage Discord Channel Groups
{% endblock page_title %}
{% block top_title %}
    Manage Discord Channel Groups
{% endblock top_title %}
{% block js_functions %}
    <script src="{% static 'functions.js' %}"></script>
    <script src="{% static 'manage_discord_channel_groups.js' %}"></script>
    <style>
        button.lock {
            background-color: red;
        }

        button.unlock {
            background-color: green;
        }
    </style>
{% endblock js_functions %}
{% block active %}
    <hr/>
    <div class="text-white p-6 bg-background rounded-lg shadow m-5 inline-block">
    <table class="management">
        <tr>
            <th>Name</th>
            <th>Lock</th>
            <th>Unlock</th>
        </tr>
        {% for tag in tags %}
            <tr>
                <td>{{ tag.name }}</td>
                <td>
                    <button class="unlock p-2 rounded mx-1 text-white"
                            type="button"
                            onclick="unlockButtonPress({{ tag.id }})">
                        Unlock
                    </button>
                </td>
                <td>
                    <button class="lock p-2 rounded mx-1 text-white"
                            type="button"
                            onclick="lockButtonPress({{ tag.id }})">Lock</button>
                </td>
            </tr>
        {% endfor %}
    </table>
    </div>
{% endblock active %}
