{% extends 'base_manage.html' %}

{% block nav_bar %}
    <div class="flex flex-row flex-wrap-reverse items-center justify-start mb-4">
        <a class="bg-main dark:bg-main-night rounded text-white p-2 flex-none max-w-fit max-h-fit text-sm mr-2"
           href="{% url 'mailing_list' %}">Back to Shift List</a>
    </div>
{% endblock nav_bar %}

{% load static %}
{% block page_title %}
    Edit Shift
{% endblock page_title %}
{% block top_title %}
    Edit Shift
{% endblock top_title %}
{% block active %}
    <h1>Edit Shift</h1>
    <style>
        input {
            color: black;
        }
    </style>
    <form class="my-5" method="POST">
        {% csrf_token %}
        {{ form.as_p }}
        <input type="submit" value="Apply" class="text-blue-600">
    </form>
{% endblock active %}
