{% extends "base_generic.html" %}
{% load static %}
{% block page_title %}
    Sign Up For Facil Shifts
{% endblock page_title %}
{% block top_title %}
    Sign Up For Facil Shifts
{% endblock top_title %}
{% block body %}
<a style="color: #FFFFFF;" class="bg-main dark:bg-main-night rounded  p-2 flex-none max-w-fit max-h-fit text-sm mr-2"
           href="{% url 'user_home' %}">Back</a>
    <div class=" p-6 bg-background shadow m-5 inline-block" style="color: #FFFFFF; font-size: 2vmin;">
        {% if success is None %}
        {% elif not success %}
            <p>Failed to modify shift!</p>
        {% elif success %}
            <p>Successfully modified shift!</p>
        {% endif %}
        <h2>Reserve Facil Shifts Here!</h2><br>
        <p>All shifts are subject to change and you'll get your final schedule in the coming weeks. Facils must sign up for 2 shifts</p>
        <br>
        <h3>Notes:</h3>
        <ul>
            <li><p>H: Heavy Lifting</p></li>
            <li><p>C: Chill/Sensory-Friendly</p></li>
            <li><p>U: Up and moving!</p></li>
            <li><p>E: ENERGY/HYPE TIME/LOUD</p></li>
        </ul>
        <br>
        <h2>My Shifts:</h2>
        <table class="w-full">
            <tr>
                <th class="px-2">Name</th>
                <th class="px-2">Description</th>
                <th class="px-2">Start</th>
                <th class="px-2">End</th>
                <th class="px-2">Max Facils</th>
                <th class="px-2">Notes</th>
                {% if can_remove %}
                <th class="px-2">Remove</th>
                {% endif %}
            </tr>
        {% for shift in my_shifts %}
        <tr>
            <td class="px-2">{{ shift.name }}</td>
            <td class="px-2">{{ shift.desc }}</td>
            <td class="px-2">{{ shift.start }}</td>
            <td class="px-2">{{ shift.end }}</td>
            <td class="px-2">{{ shift.max_facils }}</td>
            <td class="px-2">{{ shift.flags }}</td>
            <td class="px-2">
                {% if can_remove and not shift.is_cutoff and not shift.administrative %}
                <form method="POST" id="shift-rem-{{ shift.id }}">
                    {% csrf_token %}
                    <input type="hidden" name="shift_id" value="{{ shift.id }}">
                    <input type="hidden" name="action" value="remove">
                    <button class="bg-main dark:bg-main-night rounded  p-2 flex-none max-w-fit max-h-fit text-sm mr-2" type="button" onclick='btnremcallback({{ shift.id }}, "{{ shift.name }}")'>Remove</button>
                </form>
                {% endif %}
            </td>
        </tr>
        {% endfor %}
        </table>
        <h2>Available Shifts:</h2>
        <table>
        <tr>
            <th class="px-2">Name</th>
            <th class="px-2">Description</th>
            <th class="px-2">Start</th>
            <th class="px-2">End</th>
            <th class="px-2">Max Facils</th>
            <th class="px-2">Notes</th>
            <th class="px-2">Sign Up</th>
        </tr>
        <script>
        function btnaddcallback(shift_id, shift_name){
            var result = confirm("Are you sure you want to sign up for " + shift_name);
            if(result === true){
                document.getElementById("shift-add-" + shift_id).submit();
            }
        }
        function btnremcallback(shift_id, shift_name){
            var result = confirm("Are you sure you want to remove " + shift_name);
            if(result === true){
                document.getElementById("shift-rem-" + shift_id).submit();
            }
        }
        </script>
        {% for shift in shifts %}
            <tr>
                <td class="px-2">{{ shift.name }}</td>
                <td class="px-2">{{ shift.desc }}</td>
                <td class="px-2">{{ shift.start }}</td>
                <td class="px-2">{{ shift.end }}</td>
                <td class="px-2">{{ shift.max_facils }}</td>
                <td class="px-2">{{ shift.flags }}</td>
                <td class="px-2">
                    <form method="POST" id="shift-add-{{ shift.id }}">
                        {% csrf_token %}
                        <input type="hidden" name="shift_id" value="{{ shift.id }}">
                        <input type="hidden" name="action" value="add">
                        <button class="bg-main dark:bg-main-night rounded  p-2 flex-none max-w-fit max-h-fit text-sm mr-2" type="button" onclick='btnaddcallback({{ shift.id }}, "{{ shift.name }}")'>Sign Up</button>
                    </form>
                </td>
            </tr>
        {% endfor %}
        </table>
        {% if shifts|length == 0 %}
            <h1>There are no shifts currently available!</h1>
        {% endif %}
    </div>
{% endblock body %}
