{% extends 'base_manage_subpage.html' %}
{% load static %}
{% block page_title %}
    Lock Team
{% endblock page_title %}
{% block top_title %}
    Lock Team
{% endblock top_title %}
{% block active %}
    <style>
        input {
            color: black;
        }
    </style>
    <div class="bg-background shadow">
        <h1>Lock {{ team.display_name }}</h1>
        <form class="my-5" method="POST">
            {% csrf_token %}
            {{ form.as_p }}
            <input type="submit" value="Lock Team" style="cursor: pointer;" class="bg-main dark:bg-main-night rounded-lg text-white p-2 inline-block m-2">
        </form>
    </div>
{% endblock active %}
