{% extends 'base_manage_subpage.html' %}
{% load static %}
{% block page_title %}
    Manage Discord Nicks
{% endblock page_title %}
{% block top_title %}
    Manage Discord Nicks
{% endblock top_title %}
{% block active %}
    <form>
        <label>Filter: </label>
        <input type="text" name="filter">
        <input type="submit" value="Search">
    </form>
    <table>
        <tr>
            <th>Discord ID</th>
            <th>Discord Username</th>
            <th>Username</th>
            <th></th>
        </tr>
        {% for user in users %}
            <tr class="py-1">
                <td class="px-2">
                    <a class="text-blue-600" href="nicks/{{ user.id }}">{{ user.id }}</a>
                </td>
                <td class="px-2">{{ user.discord_username }}</td>
                <td class="px-2">{{ user.user.username }}</td>
                <td class="px-2"><button onclick="postToServer(csrf_token, {'command': 'delete', 'user': '{{ user.id }}'}).then(res => {res.text().then(data => {alert(data);window.location.href='';})});">Unlink</button></td>
            </tr>
        {% endfor %}
    </table>
{% endblock active %}
