{% extends 'base_manage_subpage.html' %}
{% load static %}
{% block page_title %}
    Manage Scavenger Questions
{% endblock page_title %}
{% block top_title %}
    Manage Scavenger Questions
{% endblock top_title %}
{% block active %}
    <table>
        <tr class="text-center">
            <th>ID</th>
            <th>Order</th>
            <th>Name</th>
            <th>Enabled</th>
        </tr>
        {% for puzzle in puzzles %}
            <tr >
                <td class="px-3 text-center"><a href={% url 'edit_scavenger_puzzle' id=puzzle.id %}>{{ puzzle.id }}</a></td>
                <td class="px-3 text-center">{{ puzzle.order }}</td>
                <td class="px-3 text-start">{{ puzzle.name }}</td>
                <td class="px-3 text-center">
                    {% if puzzle.enabled %}
                        ✅
                    {% else %}
                        ❌
                    {% endif %}
                </td>
                <td>
                    <button onclick="postToServer(csrf_token, {'command': 'toggle', 'puzzle': '{{ puzzle.id }}'}).then(res => {res.text().then(data => {alert(data);window.location.href='';})});">Toggle</button>
                </td>
            </tr>
        {% endfor %}
    </table>
{% endblock active %}

