{% extends 'base_manage.html' %}
{% block page_title %}
   EngFrosh Management
{% endblock page_title %}
{% block top_title %}
   EngFrosh Management
{% endblock top_title %}
{% block active %}
   <div class="flex flex-col space-y-3 mx-auto container text-white text-center max-w-sm">
      <a href="/admin" class="bg-main dark:bg-main-night rounded-lg p-2">Server Admin</a>
      <a href="discord/magic-link"
         class="bg-main dark:bg-main-night rounded-lg p-2">Magic Links</a>
      <a href="users/add" class="bg-main dark:bg-main-night rounded-lg p-2">Add Users</a>
      <a href="{% url 'add_users_to_discord_guild' %}"
         class="bg-main dark:bg-main-night rounded-lg p-2">Add Users To Guild</a>
      <a href="{% url 'manage_frosh_teams' %}"
         class="bg-main dark:bg-main-night rounded-lg p-2">Manage Teams</a>
      <!-- <a href="{#% url 'manage_roles' %#}">Manage Roles</a> -->
      <a href="{% url 'manage_scavenger_puzzles' %}"
         class="bg-main dark:bg-main-night rounded-lg p-2">Manage Scavenger Puzzles 🧩</a>
      <a href="{% url 'approve_scavenger_puzzles' %}"
         class="bg-main dark:bg-main-night rounded-lg p-2">Approve Scavenger Photos</a>
      <a href="{% url 'initialize_database' %}"
         class="bg-main dark:bg-main-night rounded-lg p-2">Initialize Database</a>
      <a href="{% url 'trade_up_viewer' %}"
         class="bg-main dark:bg-main-night rounded-lg p-2">View Trade Up</a>
      <a href="{% url 'initialize_scav' %}"
         class="bg-main dark:bg-main-night rounded-lg p-2">Initialize Scavenger</a>
   </div>
{% endblock active %}
