{% extends 'base_manage_subpage.html' %}
{% load static %}
{% block page_title %}
    Manage Discord Servers
{% endblock page_title %}
{% block top_title %}
    Manage Discord Servers
{% endblock top_title %}
{% block active %}
    <button class="bg-main dark:bg-main-night rounded text-white p-2 max-w-fit max-h-fit text-sm mb-4 mr-2"
            type="button"
            onclick="setupNewServerButtonPress()">
        Setup New Server
    </button>
    <button class="bg-main dark:bg-main-night rounded text-white p-2 max-w-fit max-h-fit text-sm mb-4 mr-2"
            type="button"
            onclick="scanForServersButtonPress()">
        Scan for Servers
    </button>
    <table>
        <tr>
            <th>Name</th>
            <th>ID</th>
            <th>Modify</th>
            <th></th>
        </tr>
        {% for guild in active_guilds %}
            <tr class="py-1">
                <td class="px-2">{{ guild.name }}</td>
                <td class="px-2">{{ guild.id }}</td>
                <td class="px-2">
                    <a class="rounded border p-1" href="servers/{{ guild.id }}/modify">Modify</a>
                </td>
                <td class="px-2">
                    <button type="button"
                            class="rounded border p-1"
                            onclick="get1UseInviteButtonPress('{{ guild.id }}')">1 Use Invite</button>
                </td>
            </tr>
        {% endfor %}
    </table>
{% endblock active %}
{% block js_functions %}
    <script src="{% static 'manage_discord_server.js' %}"></script>
{% endblock js_functions %}
