{% extends 'base_manage_subpage.html' %}
{% load static %}
{% block page_title %}
    Shift Management Lookup
{% endblock page_title %}
{% block top_title %}
    Shift Management Lookup
{% endblock top_title %}
{% block active %}
    <form method="POST">
        {% csrf_token %}
        <input type="submit" value="Regen All Calendars" class="bg-main dark:bg-main-night rounded text-white p-2 flex-none max-w-fit max-h-fit text-sm mr-2">
    </form>
    {% for user in users %}
        <div>
            <a href='{{ user.id }}'>{{ user.username }}</a>
        </div>
    {% endfor %}
{% endblock active %}
