{% extends 'base_manage_subpage.html' %}
{% load static %}
{% block page_title %}
    Shift Management
{% endblock page_title %}
{% block top_title %}
    Shift Management
{% endblock top_title %}
{% block active %}
    <div class="text-white p-6 bg-background rounded-lg shadow m-5 inline-block">
    {% for shift in shifts %}
    <form class="my-5 inline m-0 p-0" method="POST">
        {% csrf_token %}
        <p class="inline">{{ shift.shift.name }}</p>
        <input type="submit" value="Remove Shift" class="text-blue-600">
        <input class="inline" type="hidden" value="{{ shift.shift.id }}" id="shift" name="shift">
    </form>
    <br>
    {% endfor %}
    </div>
{% endblock active %}
