{% extends "base_user.html" %}
{% load static %}
{% block page_title %}EngFrosh FAQ{% endblock page_title %}
{% block js_functions %}
<link rel='stylesheet' type='text/css' href="{% static 'jquery-ui/jquery-ui.min.css' %}" />
<script type='text/javascript' src="{% static 'jquery/dist/jquery.js' %}"></script>
<script type='text/javascript' src="{% static 'moment.js' %}"></script>
<script type='text/javascript' src="{% static 'jquery-ui/jquery-ui.min.js' %}"></script>
<script type='text/javascript' src="{% static 'fullcalendar.js' %}"></script>
{% endblock js_functions %}
{% block active %}
<a class="bg-main dark:bg-main-night rounded text-white p-2 flex-none max-w-fit max-h-fit text-sm mr-2"
           href="{% url 'view_faq' id=0 %}">Back</a>
    <style>
        table, th, td {
            border: 1px solid black;
            border-collapse: collapse;
        }
        h1 {
            font-size: 32px;
        }
        a {
            color: lightblue;
        }
        img {
            margin-left: auto;
            margin-right: auto;
        }
        .bg-background {
            padding: 30px;
        }
    </style>
    <div class="text-white text-center flex flex-col space-y-3 mx-auto container w-50% m-5">
        <div class="bg-background p-2 shadow">
            <h1>{{ page.title }}</h1><br>
            <p>
            {{ page.html_body|safe}}
            </p>
        </div>
    </div>
{% endblock active %}
