{% extends "base_user.html" %}
{% load static %}
{% block page_title %}EngFrosh FAQ{% endblock page_title %}
{% block js_functions %}
<link rel='stylesheet' type='text/css' href="{% static 'jquery-ui/jquery-ui.min.css' %}" />
<script type='text/javascript' src="{% static 'jquery/dist/jquery.js' %}"></script>
<script type='text/javascript' src="{% static 'moment.js' %}"></script>
<script type='text/javascript' src="{% static 'jquery-ui/jquery-ui.min.js' %}"></script>
<script type='text/javascript' src="{% static 'fullcalendar.js' %}"></script>
{% endblock js_functions %}
{% block active %}
<a class="bg-main dark:bg-main-night rounded text-white p-2 flex-none max-w-fit max-h-fit text-sm mr-2"
           href="{% url 'user_home' %}">Back</a>

    <style>
        h1 {
            font-size: 32px;
        }
        .box {
            display: block;
        }
        .grid-cols-2 {
            grid-template-columns: repeat(2, minmax(0, 1fr));
        }
        @media (max-width:960px) { 
            .grid-cols-2 {
                grid-template-columns: repeat(1, minmax(0, 1fr));
            }
        }
        .hoverBox{
            background-color: rgb(138, 12, 111);
            background-size:auto 100%;
            background-position: center;
            border-style: solid;
            border-width: 2px;
            border-color: black;
            border-radius: 5px;
            cursor: pointer;
            transition: 0.3s;
            margin:1vw;
            max-height: 100px;
            background-size: 100% auto;
        }
        .hoverBox:hover{
            background-color: rgba(128, 0, 128, 0.473);
        }
        p {
            white-space: nowrap;
            overflow: hidden;
            text-overflow: ellipsis;
            height: 50px;
        }
    </style>
    <div class="text-white text-center flex flex-col space-y-3 mx-auto container w-50% m-5 inline-block">
        <div class="bg-background p-2 shadow">
            <h1><b>Event Information</b></h1><br>
            <div class="grid gap-4 grid-cols-2" style="grid-template-rows: auto;">
                {% for p in pages %}
                    {% if p.img %}
                        <style>
                            #box{{ p.id }}{
                                background-image: linear-gradient(rgba(60,0,60,0.3), rgba(60,0,60,0.6)), url('{{ p.img.url }}'); 
                            }
                            #box{{ p.id }}:hover{
                                background-image: linear-gradient(rgba(0,0,0,0.4), rgba(0,0,0,0.7)), url('{{ p.img.url }}');
                            }
                        </style>
                    {% endif %}
                    <a id="box{{ p.id }}" href={% url 'view_faq' id=p.id %} class="p-2 hoverBox">
                        <p><b>{{ p.title }}</b></p>
                        <p style="font-size:.7em;">{{ p.body }}</p>
                    </a>
                {% endfor %}
            </div>
        </div>
    </div>
{% endblock active %}
