{% extends "base_user.html" %}
{% load static %}
{% block page_title %}EngFrosh FAQ{% endblock page_title %}
{% block js_functions %}
<link rel='stylesheet' type='text/css' href="{% static 'jquery-ui/jquery-ui.min.css' %}" />
<script type='text/javascript' src="{% static 'jquery/dist/jquery.js' %}"></script>
<script type='text/javascript' src="{% static 'moment.js' %}"></script>
<script type='text/javascript' src="{% static 'jquery-ui/jquery-ui.min.js' %}"></script>
<script type='text/javascript' src="{% static 'fullcalendar.js' %}"></script>
{% endblock js_functions %}
{% block active %}
    <style>
        h1 {
            font-size: 32px;
        }
    </style>
    <div class="text-white text-center flex flex-col space-y-3 mx-auto container w-50% m-5 inline-block">
        <div class="bg-background p-2 shadow">
            <h1>FAQ Pages</h1><br>
            {% for p in pages %}
                <div>
                    <a href={% url 'view_faq' id=p.id %}>{{ p.title }}</a>
                </div><br>
            {% endfor %}
        </div>
    </div>
{% endblock active %}
