{% extends "base_user.html" %}
{% load static %}
{% block page_title %}EngFrosh Inclusivity{% endblock page_title %}
{% block js_functions %}
<link rel='stylesheet' type='text/css' href="{% static 'jquery-ui/jquery-ui.min.css' %}" />
<script type='text/javascript' src="{% static 'jquery/dist/jquery.js' %}"></script>
<script type='text/javascript' src="{% static 'moment.js' %}"></script>
<script type='text/javascript' src="{% static 'jquery-ui/jquery-ui.min.js' %}"></script>
<script type='text/javascript' src="{% static 'fullcalendar.js' %}"></script>
{% endblock js_functions %}
{% block active %}
    <style>
        a{
            color: #ADD8E6;
        }
        h1, h2{
            font-size: 30px;
        }
    </style>
    <div class="text-white text-center flex flex-col space-y-3 mx-auto container w-50% m-5 inline-block">
        <div>
        <h1>Resources For Students In Need:</h1>
        <h2>On Campus:</h2><br>
        <div>
            <h3>Carleton Safety Services:</h3>
            <p>203 Pigiarvik (Formerly Robertson Hall)</p>
            <p>613-520-4444 or in non-emergencies 613-520-3612</p>
            <a href="https://carleton.ca/safety/contact/contact-us/">https://carleton.ca/safety/contact/contact-us/</a>
        </div><br>
        <div>
            <h3>Carleton Health and Counseling Service:</h3>
            <p>2600 CTTC Building</p>
            <p>613-520-6674</p>
            <a href="https://carleton.ca/health/">https://carleton.ca/health/</a>
        </div><br>
        <div>
            <h3>Carleton Equity and Inclusive Communities:</h3>
            <p>3800 CTTC Building</p>
            <p>613-520-2600 ext. 5622</p>
            <a href="https://carleton.ca/equity/">https://carleton.ca/equity/</a>
        </div><br>
        <div>
            <h3>Carleton Wellness:</h3>
            <a href="https://wellness.carleton.ca/">https://wellness.carleton.ca/</a>
        </div><br>
        <div>
            <h3>Carleton University Sexual Assault Support Centre:</h3>
            <p>613-520-5622</p>
            <a href="https://students.carleton.ca/services/sexual-assault-support-services/">https://students.carleton.ca/services/sexual-assault-support-services/</a>
        </div><br>
        <div>
            <h3>Carleton Centre for Indigenous Support and Community Engagement:</h3>
            <p>3400 CTTC Building</p>
            <a href="https://carleton.ca/indigenous/cisce/">https://carleton.ca/indigenous/cisce/</a>
        </div><br>
        <div>
            <h3>Gender and Sexuality Resource Centre (GSRC)</h3>
            <p>427 Nideyinàn (formerly UC)</p>
            <p>613-520-2600 ext. 3723</p>
            <a href="https://www.cusaonline.ca/who-we-are/service-centres/gsrc/">https://www.cusaonline.ca/who-we-are/service-centres/gsrc/</a>
        </div><br>
        <div>
            <h3>Mawandoseg Centre:</h3>
            <p>426H Nideyinàn (formerly UC)</p>
            <p>613-520-2600 ext. 1268</p>
            <a href="mawandoseg@cusaonline.ca">mawandoseg@cusaonline.ca</a>
        </div><br>
        <div>
            <h3>Carleton Awards Office:</h3>
            <p>202 Pigiarvik (Formerly Robertson Hall)</p>
            <p>613-520-3600</p>
            <a href="awards@carleton.ca">awards@carleton.ca</a>
        </div><br>
        <div>
            <h3>International Student Services Office:</h3>
            <p>128 Nideyinàn (formerly UC)</p>
            <p>+1 (613) 520-6600 </p>
            <a href="https://carleton.ca/isso/">https://carleton.ca/isso/</a>
        </div><br>
        <div>
            <h3>Centre for Student Academic Support:</h3>
            <p>4th Floor MacOrdum Library</p>
            <p>613-520-3822</p>
            <a href="https://carleton.ca/csas/">https://carleton.ca/csas/</a>
        </div><br>
        <div>
            <h3>Academic Advising Centre</h3>
            <p>302 Tory Building </p>
            <p>613-520-7850</p>
            <a href="https://carleton.ca/academicadvising/">https://carleton.ca/academicadvising/</a>
        </div><br>
        <div>
            <h3>Ombuds Services:</h3>
            <p>511 Nideyinàn (formerly UC)</p>
            <a href="https://carleton.ca/ombuds/">https://carleton.ca/ombuds/</a>
        </div><br>
        <div>
            <h3>Paul Menton Centre for Students with Disabilities:</h3>
            <p>501 Nideyinàn (formerly UC)</p>
            <p>613-520-6608</p>
            <a href="https://carleton.ca/pmc/">https://carleton.ca/pmc/</a>
        </div><br>
        <div>
            <h3>Accessibility Services on Campus:</h3>
            <a href="https://carleton.ca/pmc/2019/accessibility-glossary-now-online/">https://carleton.ca/pmc/2019/accessibility-glossary-now-online/</a>
        </div><br>
        </div>
        <h2>Off Campus</h2>
        <div>
        <div>
<p>Talk Suicide Canada</p><p>
+1 833-456-4566 (24-hour support line)</p><br>
</div>
<div>
<p>Empower Me:</p><p>
1-833-628-5589</p><br>
</div>
<div>
Ottawa Rape Crisis Centre</p><p>
(613)562-2233 (24-hour support line)</p><br>
</div>
<div>
<p>The Sexual Assault Support Centre</p><p>
613-234-266 (24-hour support line)</p><br>
</div>
<div>
<p>Canadian Mental Health Association: (CMHA)</p><p>
1-800-875-6213</p><br>
</div>
<div>
<p>AccessMHA (Mental Health and Addiction):</p>
<a href="https://www.accessmha.ca">https://www.accessmha.ca/</a><br>
</div><br>
<div>
<p>Ottawa Hospital Sexual Assault Partner Abuse Care Program:</p><p>
613-798-5555 ext. 13770</p><br>
</div>
<div>
<p>Ottawa Police Service Sexual Assault and Child Abuse Unit:</p><p>
613-236-1222 ext. 5944</p><br>
</div>
<div>
<p>Planned Parenthood Ottawa:</p><p>
613-226-3234</p>
<a href="www.ppottawa.ca">www.ppottawa.ca</a><br>
</div><br>
<div>
<p>Good2talk: (Free, professional, and anonymous support) </p><p>
+1 866-925-5454  (24-hour support  line)</p>
<a href="www.good2talk.ca">www.good2talk.ca</a><br>
</div><br>
<div>
<p>Men & Healing:</p><p>
613-482-9363</p><p>
613-701-0379</p>
<a href="www.menandhealing.ca">www.menandhealing.ca</a><br>
</div><br>
<div>
<p>Crisis Line:</p><p>
(613)722 6914</p><p>
+1 866-996-0991</p><br>
</div>
<div>
<p>Living Works:</p><p>
+1 888-733-5484</p>
<a href="www.livingworks.net">www.livingworks.net</a><br>
</div><br>
<div>
<p>Young Womyn Project (YWP):</p><p>
613-868-4340</p>
<a href="www.sasc.ottawa.com">www.sasc.ottawa.com</a>
<p>2SLGBTQ+ and persons with disabilities inclusive</p><br>
</div>
<div>
<p>Assaulted Women Helpline:</p><p>
+1 866-863-0511(24-hour support  line)</p><p>
TTY: +1 866-863-7868</p><br>
</div>
<div>
<p>Neighbors, Friends and Families: (Warning Signs to Identify and Help Women at Risk of Abuse)</p>
<a href="https://www.neighboursfriendsandfamilies.ca/">https://www.neighboursfriendsandfamilies.ca/</a><br>
</div><br>
<div>
<p>Bounce Back Ontario:</p><p>
1-866-345-0224</p>
<a href="https://bouncebackontario.ca">https://bouncebackontario.ca/</a><br>
</div><br>
<div>
<p>Hopewell Eating Disorder Support:</p><p>
613-241-3428</p>
<a href="https://hopewell.ca/">https://hopewell.ca/</a>
</div><br>
<div>
<p>Mood Disorders Ottawa:</p><p>
613-526-5406 (Information Line)</p><p>
613-722-6914 (Crisis Line)</p><p>
613-238-3311 (Distress Line)</p>
<a href="https://www.mooddisordersottawa.ca/">https://www.mooddisordersottawa.ca/</a><br>
</div><br>
<div>
<p>Psychiatric Survivors Ottawa:</p><p>
1-877-550-4379</p>
<a href="https://www.pso-ottawa.ca/">https://www.pso-ottawa.ca/</a><br>
</div><br>
<div>
<p>Ontario Human Rights Commission:</p>
<a href="https://www.ohrc.on.ca/en">https://www.ohrc.on.ca/en</a><br>
</div>
        </div>
    </div>
{% endblock active %}
