{% extends 'base_generic.html' %}
{% load static %}
{% block page_title %}
    EngFrosh
{% endblock page_title %}
{% block body %}
    <img src="{% static 'engfrosh_color_long.svg' %}" alt="EngFrosh Logo">
    <div class="h-full text-center">
        <a href="{% url 'user_home' %}"
           class="bg-main dark:bg-main-night rounded-lg text-4xl p-4 mx-auto text-white">Blast Off!</a>
        {% for a in announcements %}
            <div class="text-fuchsia-600 m-8">
                <h2>{{ a.title }}</h2>
                <br>
                <p>{{ a.body}}</p>
            </div>
        {% endfor %}
    </div>
{% endblock body %}
