{% extends 'base_generic.html' %}
{% load static %}
{% block page_title %}
    EngFrosh
{% endblock page_title %}
{% block body %}
    <img src="{% static 'logo.png' %}" class="w-1/2 h-1/2 m-auto" style="margin-top:10px; height:76vmin; width:95vmin;" alt="EngFrosh Logo">
    <div class="h-full text-center" style="margin:25px; font-size:3rem;">
        <div style="color:#a85800; text-shadow:0px 0px 5px #c290dd;"><b id="timer" >Countdown</b></div>
        <div style="margin-bottom:3rem;">
            <a href="{% url 'user_home' %}"
                class="bg-main dark:bg-main-night rounded-lg text-4xl p-4 mx-auto text-white" style="background-color:#8305c8;">Enter the timeline</a>
        </div>
        <div>
            <a href="{% url 'inclusivity_public' %}"
                class="bg-main dark:bg-main-night rounded-lg text-2xl p-4 mx-auto text-white" style="background-color:#8305c8;">Inclusivity and Wellness</a>
        </div>
        <div class="flex flex-col space-y-3 mx-auto container text-white text-center max-w-sm">
        {% for a in announcements %}
            <div class="m-8 bg-accent text-white width-50 rounded-lg">
                <h2>{{ a.title }}</h2>
                <br>
                <p>{{ a.body}}</p>
            </div>
        {% endfor %}
        </div>
    </div>
    <script> <!-- Countdown timer until opening ceremonies -->
        var countDownDate = new Date("September 1, 2024 18:30:00").getTime();
        var x = setInterval(function() {
            var now = new Date().getTime();
            var distance = countDownDate - now;
            var days = Math.floor(distance / (1000 * 60 * 60 * 24));
            var hours = Math.floor((distance % (1000 * 60 * 60 * 24)) / (1000 * 60 * 60));
            var minutes = Math.floor((distance % (1000 * 60 * 60)) / (1000 * 60));
            var seconds = Math.floor((distance % (1000 * 60)) / 1000);
            document.getElementById("timer").innerHTML = days + "D " + hours + "H " + minutes + "M " + seconds + "S ";
            if (distance < 0) {
                clearInterval(x);
                document.getElementById("timer").innerHTML = "";
            }
        }, 1000);
    </script>
{% endblock body %}
