{% extends "base_user.html" %}
{% load static %}
{% block page_title %}EngFrosh Sponsors{% endblock page_title %}
{% block js_functions %}
<link rel='stylesheet' type='text/css' href="{% static 'jquery-ui/jquery-ui.min.css' %}" />
<script type='text/javascript' src="{% static 'jquery/dist/jquery.js' %}"></script>
<script type='text/javascript' src="{% static 'moment.js' %}"></script>
<script type='text/javascript' src="{% static 'jquery-ui/jquery-ui.min.js' %}"></script>
<script type='text/javascript' src="{% static 'fullcalendar.js' %}"></script>
{% endblock js_functions %}
{% block active %}
<a style="color: #FFFFFF;" class="bg-main dark:bg-main-night rounded p-2 flex-none max-w-fit max-h-fit text-sm mr-2"
           href="{% url 'user_home' %}">Back</a>

    <div style="color: #FFFFFF;" class="text-center flex flex-col space-y-3 mx-auto container w-50% m-5 inline-block">
        <div class="bg-background p-2 shadow inline-block">
            <h1>Sponsors</h1><br>
            {% for s in sponsors %}
                <div style="display: inline-block;">
                    {% if s.link %}
                    <a href={{ s.link }}><img style="width: 50%;"src="{{ s.image.url }}"/></a>
                    {% else %}
                    <img style="width: 50%;"src="{{ s.image.url }}"/>
                    {% endif %}
                </div><br>
            {% endfor %}
        </div>
    </div>
{% endblock active %}
