{% extends "base_user.html" %}
{% load static %}
{% block page_title %}NEM Scav Home{% endblock page_title %}
{% block js_functions %}
{% if rand == 1 %}
    <meta http-equiv="Refresh" content="0; url='https://www.youtube.com/watch?v=xvFZjo5PgG0'" />
{% endif %}
<link rel='stylesheet' type='text/css' href="{% static 'jquery-ui/jquery-ui.min.css' %}" />
<script type='text/javascript' src="{% static 'jquery/dist/jquery.js' %}"></script>
<script type='text/javascript' src="{% static 'moment.js' %}"></script>
<script type='text/javascript' src="{% static 'jquery-ui/jquery-ui.min.js' %}"></script>
<script type='text/javascript' src="{% static 'fullcalendar.js' %}"></script>
{% endblock js_functions %}
{% block active %}
    <div class="text-white text-center flex flex-col space-y-3 mx-auto container w-50% m-5 inline-block">
        <div>
            {% if scavenger_enabled %}
                <a href="{% url 'scavenger_index' %}"
                   class="bg-main dark:bg-main-night rounded-lg p-2">Scav</a>
            {% elif scavenger_disabled %}
                <a class="bg-red-600 dark:bg-red-600 rounded-lg p-2">Scav Disabled</a>
            {% else %}
                <a class="bg-red-600 dark:bg-red-600 rounded-lg p-2">No Scav Team</a>
            {% endif %}
            {% if link_discord %}
                <a href="{% url 'discord_register' %}"
                   class="bg-main dark:bg-main-night rounded-lg p-2">Link Discord</a><br><br>
            {% endif%}
            {% if request.user.is_staff %}
            <a href="{% url 'manage_index' %}"
               class="bg-main dark:bg-main-night rounded-lg p-2 my-10">Management</a>
            {% endif %}<br><br>
            {% if perms.common_models.view_links %}
            <a href="{% url 'magic_links' %}"
               class="bg-main dark:bg-main-night rounded-lg p-2">View Magic Links</a>
            {% endif %}
            {% if perms.common_models.view_discord_nicks %}
            <a href="{% url 'manage_discord_nicks' %}"
               class="bg-main dark:bg-main-night rounded-lg p-2">Unlink Discord Users</a>
            {% endif %}
            {% if details %}
            <br><p>To link your frosh calendar with a calendar app import the calendar from the following URL: <a href={% url "ics_api" uid=details.int_frosh_id %}>https://server.engfrosh.com{% url "ics_api" uid=details.int_frosh_id %}</a></p>
            {% endif %}
            <br>
            <select id="filter">
                <option value="all">All</option>
                {% for calendar in calendars %}
                <option value={{calendar.slug}}>{{calendar.name}}</option>
                {% endfor %}
            </select>
        </div>
        <style>
            :root {
                --fc-page-bg-color: #4F226E;
            }
        </style>
        <div id="calendar" class="bg-background">
        </div>
        <script type='text/javascript'>
            $(document).ready(function() {
                var calendar = document.getElementById("calendar");
                var filter = document.getElementById("filter");
                var obj = new FullCalendar.Calendar(calendar, {
                    height: "auto",
                    events: "/api/calendar",
                    initialView: 'timeGridWeek',
                    titleFormat: {month: 'short', day: 'numeric'},
                    headerToolbar: {left: 'title',
                                    center: '',
                                    right: 'prev,next'},
                    views: {
                        timeGridWeek: {
                            slotMinTime: "00:00:00",
                            slotMaxTime: "23:59:59",
                            slotDuration: "01:00:00",
                            nowIndicator: true
                        }
                    },
                    eventDidMount: function(arg) {
                        let val = filter.value;
                        if(!(val == arg.event.extendedProps.calendar || val == "all")){
                            arg.event.remove();
                        }
                    },
                });
                obj.render();
                filter.addEventListener('change', function() {
                    obj.refetchEvents();
                });
            });
        </script>
    </div>
{% endblock active %}
