{% extends "base_user.html" %}
{% block active %}
    <div class="text-white text-center flex flex-col space-y-3 mx-auto container max-w-sm">
        {% if scavenger_enabled %}
            <a href="{% url 'scavenger_index' %}"
               class="bg-main dark:bg-main-night rounded-lg p-2">Scav</a>
        {% else %}
            <p class="rounded-lg p-2 border">Scav Disabled</p>
        {% endif %}
        {% if trade_up_enabled %}
            <a href="{% url 'trade_up_home' %}"
               class="bg-main dark:bg-main-night rounded-lg p-2">Trade Up</a>
        {% else %}
            <p class="rounded-lg p-2 border">Trade Up Disabled</p>
        {% endif %}
        <a class="bg-main dark:bg-main-night rounded-lg p-2">Get Help</a>
    </div>
{% endblock active %}
