{% extends 'base_generic.html' %}
{% block page_title %}
   Tickets
{% endblock page_title %}
{% block body %}
<div class="text-center">
    {% for ticket in tickets %}
        <div class="inline-block text-center m-2 bg-white w-fit p-2">
            <p class="text-black">Time: {{ ticket.opened }}</p>
            {% if ticket.get_status_display == 'NEW' %}
                <p class="text-red-600">Status: {{ ticket.get_status_display }}</p>
            {% else %}
                <p class="text-blue-600">Status: {{ ticket.get_status_display }}</p>
            {% endif %}
            <a class="text-sky-600" href="{{ ticket.id }}">Ticket {{ ticket.id }}</a>
        </div>
        <br>
    {% endfor %}
</div>

{% endblock %}
