@tailwind base;
@tailwind components;
@tailwind utilities;

/* @layer components {
    .btn-theme {
        @apply bg-red-800 rounded-lg p-2;
    }
} */

/* body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

table.management td {
    padding: 5px;
}

table.management th {
    padding: 5px;
}

td.button_cell {
    text-align: center;
} */

/* button {
    @apply ring ring-white dark:ring-black;
} */