{% extends "base_user.html" %}
{% load static %}
{% block page_title %}Randall Booking{% endblock page_title %}
{% block js_functions %}
<link rel='stylesheet' type='text/css' href="{% static 'jquery-ui/jquery-ui.min.css' %}" />
<script type='text/javascript' src="{% static 'jquery/dist/jquery.js' %}"></script>
<script type='text/javascript' src="{% static 'moment.js' %}"></script>
<script type='text/javascript' src="{% static 'jquery-ui/jquery-ui.min.js' %}"></script>
{% endblock js_functions %}
{% block active %}
<a class="bg-main dark:bg-main-night rounded text-white p-2 flex-none max-w-fit max-h-fit text-sm mr-2"
           href="{% url 'randall_index' %}">Back</a>
    <div class="text-white text-center flex flex-col space-y-3 mx-auto container w-50% m-5 inline-block">
        <h1>Book Randall</h1>
        {% if error %}
            <h2 style="color: red;">Error: {{error}}</h2>
        {% endif %}
        <style>
            input {
                color: black;
                margin-bottom: 5px;
            }
        </style>
        <form method="post">
            {% csrf_token %}
            {{ form }}
            <input style="color: white;" type="submit" value="Submit"/>
        </form>
    </div>
{% endblock active %}
