{% extends "base_user.html" %}
{% block page_title %}Counter{% endblock page_title %}
{% block active %}
    <div class="text-black text-center flex flex-col space-y-3 container w-full m-0 text-center mx-auto my-auto">
        <h1 id="countdown" class="background-white text-9xl caret-transparent select-none w-full m-0 text-center"></h1>
        <br>
        <label>Password: </label><input id="password" type="text" class="w-fit text-black mx-auto">
        <button onclick="validate()" class="w-fit mx-auto text-black bg-white rounded-sm border border-white">Disarm</button>
        <p id="result" class="text-red-600"></p>
    </div>
    <script>
    var timer = document.getElementById("countdown")
    var tDate = new Date();
    var tDate = new Date(tDate.getFullYear(), tDate.getMonth(), tDate.getDate(), {{ hours }}, {{ minutes }}, {{ seconds }});
    var disarmed = false;
    function update(){
        if(!disarmed){
            var date = new Date();
            var distance = tDate-date;
            if(distance < 0){
                timer.innerHTML = "FAILED";
                return;
            }
            var hours = Math.floor((distance % (1000 * 60 * 60 * 24)) / (1000 * 60 * 60));
            var minutes = Math.floor((distance % (1000 * 60 * 60)) / (1000 * 60));
            var seconds = Math.floor((distance % (1000 * 60)) / 1000);
            timer.innerHTML = hours + "h " + minutes + "m " + seconds + "s ";
        }else{
            timer.innerHTML = "DISARMED";
        }
    }
    setInterval(update, 500);
    var cPassword = "{{ password }}";
    var passField = document.getElementById("password");
    var result = document.getElementById("result");
    function validate(){
        var guess = passField.value;
        result.innerHTML = "";
        if(guess.toLowerCase() === cPassword.toLowerCase()){
            disarmed = true;
            update();
        }else{
            result.innerHTML = "Incorrect password!";
        }
    }
    </script>
{% endblock active %}
