{% load static %}
<!DOCTYPE html>
<html lang="en">
    <meta charset="utf-8">
    <head>
        <link rel="stylesheet" type="text/css" href="{% static 'output.css' %}">
        <title>{% block page_title %}{% endblock %}</title>
        {% csrf_token %}
        <script>
            const csrf_token = document.querySelector('[name=csrfmiddlewaretoken]').value;
        </script>
        {% block js_functions %}{% endblock js_functions %}
    </head>
    <body>
        {% block body %}{% endblock %}
        {% block page_js %}{% endblock %}
    </body>
</html>