{% extends "base_user.html" %}
{% block page_title %}
    Welcome to EngFrosh Discord
{% endblock page_title %}
{% block active %}
<div class="text-center">
    <h3 class="text-xl my-16">You are successfully connected to Discord</h3>
    {% if guild_id %}
        {% if channel_id %}
            <a class="button discord bg-main dark:bg-main-night rounded text-white py-3 px-6 m-8"
               href="https://discord.com/channels/{{ guild_id }}/{{ channel_id }}">Go to Server</a>
        {% else %}
            <a class="button discord bg-main dark:bg-main-night rounded text-white py-3 px-6 m-8"
               href="https://discord.com/channels/{{ guild_id }}">Go to Server</a>
        {% endif %}
    {% endif %}
    <p class="p-3 m-6">If you need help or were not added to the server please contact us.</p>

</div>
{% endblock active %}
