{% extends "base_user.html" %}
{% block page_title %}
    Link Discord
{% endblock page_title %}
{% block active %}
    <div class="text-center">
        <h1 class="text-4xl md:text-6 my-20 mx-auto max-w-fit">Welcome to EngFrosh!</h1>
        <p class="p-3 m-6">
            You are now logged in. Click the button below to link your Discord account and join the server automatically.
        </p>
        <a class="bg-main dark:bg-main-night rounded text-white py-3 px-6 m-8"
           href="/accounts/register/discord/">Click here  to link your Discord account</a>
    </div>
{% endblock active %}
