{% extends 'base_generic.html' %}
{% load static %}
{% block page_title %}
    Scav
{% endblock page_title %}
{% block js_functions %}
<meta http-equiv="Content-Security-Policy" content="default-src: 'self'" />
{% endblock js_functions %}
{% block body %}
    {% if not team %}
        You are not part of a team
    {% else %}
        Here is your team:
        {{ team.display_name }}
        {% if bypass %}
            <h1 class="text-red-600 text-xl">Warning: Scav rule bypass is enabled, puzzle progress will not be saved!</h1>
        {% endif %}
        {% if team.scavenger_finished %}
            <h1 class="text-5xl">Congratulation on Completing Scav!</h1>
        {% else %}
            {% if not scavenger_enabled_for_team %}
                Scavenger is not currently enabled
            {% endif %}
            <div id="imgframe">
                {{ tree|safe }}
            </div>
            <div id="scavtext">
                <h2>Active Scavenger Puzzles</h2>
                <ul>
                    {% for puzzle in active_puzzles %}
                        <a href="{% url 'view_puzzle' slug=puzzle.secret_id%}">{{puzzle.name}}</a>
                    {% endfor %}
                </ul>
                <h2>Completed Scavenger Puzzles</h2>
                <ul>
                    {% for puzzle in completed_puzzles %}
                        <a href="{% url 'view_puzzle' slug=puzzle.secret_id%}">{{puzzle.name}}</a>
                    {% endfor %}
                </ul>
            </div>
        {% endif %}
    {% endif %}
{% endblock body %}
