{% extends 'base_generic.html' %}
{% load static %}
{% block page_title %}
    Scav
{% endblock page_title %}
{% block body %}
    <meta http-equiv="Content-Security-Policy" content="default-src: 'self'" />
    {% if not team %}
        You are not part of a team
    {% else %}
        Here is your team:
        {{ team.display_name }}
        {% if bypass %}
            <h1 class="text-red-600 text-xl">Warning: Scav rule bypass is enabled, puzzle progress will not be saved!</h1>
        {% endif %}
        {% if team.scavenger_finished %}
            <h1 class="text-5xl">Congratulation on Completing Scav!</h1>
        {% else %}
            {% if not scavenger_enabled_for_team %}
                Scavenger is not currently enabled
            {% endif %}
            <iframe src="{{ team.scav_tree.url }}" style="width: 1000px; height: 1000px;" id="imgframe">
                <p>Looks like your browser doesn't support scav ;-;</p>
            </iframe>
        {% endif %}
    {% endif %}
{% endblock body %}
