{% extends 'base_generic.html' %}
{% block page_title %}
    Upload Verification Photo
{% endblock page_title %}
{% block body %}
<div class="text-center">

    <h1 class="text-4xl md:text-8xl my-20 mx-auto max-w-fit">SUCCESS!!</h1>
    {% comment %} <div class="px-6 py-8 max-w-5xl mx-auto mt-20 text-center"> {% endcomment %}
        <p class="m-2">Take and submit a photo of a frosh in front of the answer</p>
        <br/>
        <label for="file">Choose an image to upload</label>
        <input type="file"
               accept="image/*"
               capture="user"
               name="photo_upload"
               id="image_file"/>
        <br/>
        <button class="bg-main dark:bg-main-night rounded text-white py-3 px-6 m-8"
                onclick="uploadPhoto()">Upload</button>
    {% comment %} </div> {% endcomment %}

</div>
{% endblock body %}
{% block js_functions %}
    <script>
        var audio = new Audio({% url audio_endpoint slug=slug %});
        audio.play();
        function uploadPhoto() {
            {% comment %} alert("Uploading..."); {% endcomment %}

            let file = document.getElementById("image_file").files[0];
            let formData = new FormData();
            formData.append("photo_upload", file);
            fetch("", {
                method: "POST",
                mode: "cors",
                credentials: "same-origin",
                headers: {
                    "X-CSRFToken": csrf_token
                },
                body: formData
            }).then(res => {
                if (res.ok) {
                    alert("Upload Success!");
                    window.location.href = "/scavenger/";
                } else {
                    res.text().then(data => {
                        alert("Not Okay: " + data);
                    });
                }
            });
        }


    </script>
{% endblock js_functions %}
{% block page_js %}
    <script></script>
{% endblock page_js %}
