{% extends 'base_generic.html' %}
{% block page_title %}
    Check In
{% endblock page_title %}
{% block body %}
    <div class="p-6">
        <div class="space-y-4 mt-4 text-center">
            <div class="rounded-lg px-6 py-8 ring ring-slate-900 dark:ring-slate-400 shadow-xl max-w-5xl mx-auto m-4">
                <a href="/check-in/monitor" style="float: left;" target="_blank">Monitor</a>
                <form>
                    {% csrf_token %}
                    {{ form }}
                    <input type="submit" value="Search">
                </form>
                <p style="color: red;">{{error}}</p>
                <table>
                    <tr>
                        <th>Name</th>
                        <th>Shirt Size</th>
                        <th>Hardhat</th>
                        <th>Breakfast</th>
                        <th>Rafting</th>
                        <th>Checked In</th>
                        <th>Can Check In</th>
                        <th>Check In</th>
                        <th>Reason</th>
                    </tr>
                {% for user in data %}
                    <tr>
                        <td>{{user.name}}</td>
                        <td>{{user.shirt_size}}</td>
                        <td>{{user.hardhat}}</td>
                        <td>{{user.breakfast}}</td>
                        <td>{{user.rafting}}</td>
                        <td>{{user.checked_in}}</td>
                        <td>{{user.can_check_in}}</th>
                        {% if user.can_check_in %}
                            <td><a href="/check-in/check-in/{{user.user.id}}">Check In</a></td>
                        {% else %}
                            <td>Requirements Not Met</td>
                            <td>{{user.check_in_reason}}</td>
                        {% endif %}
                    </tr>
                {% endfor %}
                </ul>

            </div>
        </div>
    </div>
{% endblock body %}
